{{/* Template sederhana untuk menampilkan teks yang sama di judul dan body */}}
<!DOCTYPE html>
<html lang="en">
<head>
    {{/* Meta tag untuk karakter encoding */}}
    <meta charset="UTF-8">
    {{/* Menampilkan teks yang sama di judul halaman */}}
    <title>{{.}}</title>
</head>
<body>
    {{/* Menampilkan teks yang sama di body halaman */}}
    <h1>{{.}}</h1>
</body>
</html>